[Desktop Entry]
Name=Meme Picker
Comment=Fast searchable meme and reaction image picker
Exec=meme-picker
Icon=meme-picker
Terminal=false
Type=Application
Categories=Utility;
